<p-panel header="Pipes no comunes" class="p-1">
  <p>Pipes incluídos en Angular</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>Soy {{ name }} {{ gender | i18nSelect : predicadoMap }}</p>
      <p-button (click)="changeWord()" label="Cambiar nombre"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Ahora {{ clients.length | i18nPlural : clientsMap }}</p>

      <p-button label="Quitar Cliente" (click)="deleteClient()"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clients }}</pre>

      <b>Slice:0:3</b>
      <pre>{{ clients | slice : 0 : 3 }}</pre>
      <b>Slice:2:6</b>
      <pre>{{ clients | slice : 2 : 6 }}</pre>
      <b>Slice:2</b>
      <pre>{{ clients | slice : 2 }}</pre>
      <b>Slice:0:-1</b>
      <pre>{{ clients | slice : 0 : -1 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre
        >{{ person | json }}
     </pre
      >
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{ item.key }}:</b> {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTime | async)">Resolviendo Observable</pre>
      <pre>{{ myObservableTime | async }}</pre>
      <pre *ngIf="!(promiseValue | async)">Resolviendo Promesa</pre>
      <pre>{{ promiseValue | async }}</pre>
    </p-fieldset>
  </div>
</div>
